html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: bolder
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}


/* Variables */

:root {
  --color-primary: #F7505A;
  --color-black:  #090909;
  --color-white: #ffffff;
  --header-padding: 4rem 0 0;

  --text-color: var(--color-black);
}
 /** HEADER **/
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    text-align: center;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem 0;
    position: relative;
  }
  
  a:hover,
  a:active {
    color: #FF6565;
  }
  
  .button {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: var(--color-white);
    text-decoration: none;
    background-color: #FF6565;
    margin-top: 2rem;
  }
  
  .button:hover,
  .button:active {
    color: var(--color-white);
    opacity: 0.9;
  }
  .navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
  }

   .navbar-menu .nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: .04rem;
  }
  
  .navbar-menu .nav-item + .nav-item {
    margin: 0 0 0 2rem;
  }
  .navbar-menu .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
  }
  
  .navbar-menu .nav-link:hover {
    text-decoration: none;
  } 
  
  .navbar-menu .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: ;
    background-color: var(--color-white);
    width: 0;
    height: 0.2rem;
  }
  
  .navbar-menu .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    .root {
      --nav-item-margin: 0
    }
    .navbar-menu {
      display: none;
      flex: 1
    }
    .header .navbar-menu {
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      transition: max-height .2s ease-out;
    }
  }
  
  
 /* Navbar
      ============================= */
      /* nav {
        align-self: flex-end;
        display: inline-block;
      }
      .navbar-menu {
        display: inline-block;
        padding: 0.5rem 0;
        position: relative;
        list-style: none;
      }
      
      
      .navbar-menu:hover {
        color: white;
        text-decoration: none;
      }
      
      .navbar-menu::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
        width: 0;
        height: 0.2rem;
         transition: var(--transition-duration) var(--transition-cubic-bezier); 
      }
      .navbar-menu {
        display: block;
        align-items: flex-end;
        float: left;
      }
      
      .navbar-menu:hover .navbar-menu::before {
        background-color: #FF6565;
        width: 100%;
      }
      
      .navbar-menu {
        display: none;
        flex: 1;
        color: white;
      } */

/* Header
      ============================= */

.header {
  padding: 2rem 0 0;
  position: absolute;
  z-index: 3;
  background: transparent;
  width: 100%;
}
ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  /* transform: scale(0.25); */
  width: 15rem;
  height: auto;
}

.section-inner {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}
.section-body {
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-white);
    
}
  

  .section-title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  
  .section-subtitle {
    font-size: 1.3rem;
    margin-top: 5px;
  }

  .section-paragraph {
    padding-top: 100px;
  }

  /* Section Hero============================= */
  .section-hero {
    position: relative;
    color: var(--section-color);
  }
  
  .hero-homepage {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .section-hero .section-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

   /* @media (max-width: 767px) {
    .section-hero {
      margin: -0.1rem 0;
    }
    .hero-homepage {
      background-position: 85% 0;
    }
    .section-hero .section-body {
      padding: 2rem;
    }
    .navbar-menu {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 35vh;
    }
  }  */
  /* @media (max-width: 767px) {
   
    
    .header-container {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      
    }
    .header .menu-icon {
      display: block;
    }
    .navbar-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-height: 35vh;
    }
  }
  @media (max-width: 480px) {
    .header-logo {
      flex-basis: 70%;
    }
  } */
  .header .menu-btn {
    display: none;
  }
  .header .menu-icon {
    display: block;
  }
  label {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 0 0 .5rem;
  }

  @media (max-width: 480px) {
    .header-logo {
      flex-basis: 79%;
      align-items: center
    }
    .header {
      padding: 2rem 0 0;
      position: absolute;
      z-index: 3;
      background: transparent;
      width: 100%;
      flex-wrap: wrap;
      padding: 0 1.5rem;
    }
    nav {
      align-self: self-start;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
    }
    
    .navbar-menu {
      display: block;
      flex-direction: column;
      align-items: center;
      min-height: 35vh;
      flex: 1
      overflow: hidden;
      max-height: 0;
    }
    .header .menu-btn {
      display: block;
    }
    
    
    #menu-btn:checked ~ .navbar-menu {
      display: block
    }
    #menu-btn:checked ~ .navbar-menu {
      max-height: 100%;
      float: left;
      overflow: inherit;
    }
    
    #menu-btn ~ .menu-icon .navicon {
      background: transparent;
    }
    #menu-btn ~ .menu-icon .navicon::before {
      transform: rotate(-45deg);
    }
    #menu-btn ~ .menu-icon .navicon::after {
      transform: rotate(45deg);
    }
    #menu-btn ~ .menu-icon .navicon::before,
    #menu-btn ~ .menu-icon .navicon::after {
      top: 0;
    }
    
    .header .menu-icon {
      cursor: pointer;
      padding: 2.5rem;
      position: relative;
      user-select: none;
      display: block;
    }
    .header .menu-icon .navicon {
      background: var(--color-white);
      display: block;
      width: 2rem;
      height: .2rem;
      position: relative;
      transition: background .2s ease-out;
    }
    .header .menu-icon .navicon::before,
    .header .menu-icon .navicon::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--color-white);
      transition: all .2s ease-out;
    }
    .header .menu-icon .navicon::before {
      top: .7rem;
    }
    .header .menu-icon .navicon::after {
      top: -.7rem
    }

    
  .navbar-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 35vh;
  }
  .header .navbar-menu {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
}